  
  #external-events {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 150px;
    padding: 0 10px;
    margin-top: 80px;
    border: 1px solid #332920;
    background:  rgb(189,209,160, .5);
  }
  
  #external-events .fc-event {
    cursor: move;
    margin: 3px 0;
    background-color: #332920;
    border-color: #332920;
    color: #f9f9f7;
  }
  
  #calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
    margin-right: 50px;
  }
  
  #calendar {
    max-width: 900px;
    margin: 20px auto;
    color: rgb(69,83,38);
  }