body{
    background-color: #fff4bd;
    font-family: 'Lato', sans-serif;
}

.form-group {
    margin-bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;                                             
    font-size: small;
}

h1, h2, h3 {
    font-size: medium;
}

#daily-label{
    font-weight: bold;
}

.text-center{
    text-align: center;
    margin-top: 10px;
}

