<!doctype html>
<html>
  <head>
    <html lang='en'></html>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- MY CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">OncoBuddy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createaccount">Create an account</a>
          </li>
          {%if "user_id" in session%}
          <div class="collapse navbar-collapse d-flex justify-content-end">
            <a class="nav-link" href="/dailylog">dailylog</a>
            <a class="nav-link" href="/intake">intake</a>
            <a class="nav-link" href="/logout">logout</a>
          </div>
            {%endif%}
        </ul>
      </div>
    </nav>
    
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{msg}}
      </p>
    {% endfor %}
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  <!-- Bootstrap Javascript Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% block js %}  
{%endblock%}
</body>

</html>
