{% extends 'base.html' %}
{% include 'navbar.html' %}


{% block head %}
<meta charset='utf-8' />
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.0.2/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.0.2/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.0.2/index.global.min.js"></script>

<link rel="stylesheet" href="/static/CSS/calendar.css">

{% endblock %}

{% block body %}
<div class="container-xl mt-5 py-5 h-100">
<div id='external-events'>
    <p>
      <strong>Treatments</strong>
    </p>
    {% for treatment in treatments %}
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
        <div class='fc-event-main'>{{treatment.drug_name}}</div>
    </div>
    {%endfor%}
   
  </div>
  
  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>
</div>
{% endblock %}

{% block js %}  
<script src="/static/JS/calendar.js"></script>
{%endblock%}
    
