{% extends 'base.html' %}
{% include 'navbar.html'%}

{%block title %}Hello, {{user.user_name}}{% endblock %}

{%block body%}

  <!-- Dailies -->
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class ="column">
      <div class = "row form-group">
      <div class="card" style="border-radius: 1rem;">
<h1>Daily Log</h1>
{% for msg in get_flashed_messages() %}
                      <p class="flash-msg" style="color: red; font-weight: bold;">
                        {{msg}}
                      </p>
                    {% endfor %}
<div id="current_date">
    <script>
    date = new Date().toLocaleDateString();
    document.write(`Todays date: ${date}`);
    </script>
    </div>
    </div>
    </div>
    <div class = "row form-group">
      <div class="card" style="border-radius: 1rem;">
    <div class="dailies">
        <h2>Dailies:</h2>
        <form action="/dailylog" id="daily-symptoms">
            <label for="pain">Level of pain:</label>
            {% for n in range(11) %}
            <input type="radio" value="{{n}}" name="pain">{{n}}
            {%endfor%}
            <br>
            <label for="pain-location">Location of pain:</label>
            <select id="pain-location" name="pain-location">
                {%for location in pain%}
                <option value="{{location.symptom_id}}">{{location.common_name}}</option>
                {%endfor%}
            </select><br>
            <label for="fatigue">Level of fatigue:</label>
            {% for n in range(11) %}
            <input type="radio" value="{{n}}" name="fatigue">{{n}}
            {%endfor%}
            <br>
            <label for="sleep">Amount of sleep:</label>
            {% for n in range(11) %}
            <input type="radio" value="{{n}}" name="sleep">{{n}}
            {%endfor%}<br>
            <label for="appetite">Appetite:</label>
            {% for n in range(11) %}
            <input type="radio" value="{{n}}" name="appetite">{{n}}
            {%endfor%}
            <button type="submit">Enter dailies</button>
            </form></div>
            </div>
            </div>
            <div class = "row form-group">
              <div class="card" style="border-radius: 1rem;">
            <div class="other-symptoms">
            <form action="/dailylog">
            <label for="daily-symptoms">Other symptoms:</label>
            <select id="daily-symptoms" name="daily-symptoms">
                {%for symptom in symptoms%}
                <option value="{{symptom.symptom_id}}">{{symptom.common_name}}</option>
                {%endfor%}
            </select><br>
            
            <button type="submit">LOG SYMPTOMS</button>
        </form></div></div></div>
        <div class = "row form-group">
          <div class="card" style="border-radius: 1rem;">
    <div class="medications">
        <h2>Log treatments</h2>
        <form action="/dailylog">
        <label for="administered-medications">Treatments administered today:</label><br>
        {%for medication in medications%}
        <input type="radio" id="administered-medications" name="administered-medications" value={{medication.user_drug_id}}>
        <label for="administered-medications">{{medication.drug_name}}</label>
        {%endfor%}
        <button type="submit">LOG TREATMENTS</button>
    </form>
    </div>
  </div>
</div>
</div>
</div>
{%endblock%}

