{%block head%}
<link rel= "stylesheet" href="/static/CSS/styling.css">
{%endblock%}

{%block body%}
<!-- Remove the container if you want to extend the Footer to full width. -->

<nav class="navbar fixed-bottom navbar-light" style="background-color: rgb(157,184,139); box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); display: inline-block;
text-align:center; ">
    <div class="row d-flex justify-content-center align-items-center">
        <p>
      <a href= "https://www.linkedin.com/in/shalimarlardizabal/"><i class="bi bi-linkedin"></i>  /shalimarlardizabal</a>   <a href="https://github.com/shalimarlardizabal"><i class="bi bi-github"></i>  /shalimarlardizabal</a>
    </p>

      
    </div>
  </nav>
  <!-- End of .container -->
{%endblock%}