
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5d9ad8;">
    <a class="navbar-brand" href="/">OncoBuddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/dailylog">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{user.user_id}}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/calendar">Calendar</a>
          </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  {% endblock %}