{% extends 'base.html' %}
{% include 'navbar.html' %}
{% include 'footer.html'%}

{%block title %}{{user.user_name}}'s health profile {% endblock %}

{% block head %}
<!-- JS Code for Charts -->
  {# ChartJS #}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

  {# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

  {# randomColor: generate random colors #}
  <script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %}

{%block body%}

<div class="container-sm py-5 my-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-3 d-flex justify-content-end flex-column">
        
      <!-- Cards for Column -->
        <div class="card" style="width: 15rem;">
          <img src="/static/Images/diagnosis-logo.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <p style="font-size: 10px;">click below to learn more about your diagnosis</p>

      <!-- Trigger the modal with a button -->
            {% for name, alt_name, content in diagnosis%}
            <div class="text-center">
            <button type="button" class="btn btn-dark btn-md" data-bs-toggle="modal" data-bs-target="#diagnosis-{{alt_name}}">{{name}}</button>
            </div>
      <!-- Modal -->
            <div id="diagnosis-{{alt_name}}" class="modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-scrollable">

      <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{{name}}</h4>
                  </div>
                  <div class="modal-body">
                    <p>{{content |safe}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
  
  <div class="card g-0" style="width: 15rem; margin-top: 10px;">
    <img src="/static/Images/treatment-logo.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p style="font-size: 10px;">click below to learn more about your treatment</p>
  <!-- Trigger modal with a button -->
      
      {% for name, info in user_medication%}
      <div class="text-center">
      <button type="button" class="btn btn-dark btn-md" data-bs-toggle="modal" data-bs-target="#treatments-{{name}}">{{name}}</button>
        </div>
<!-- Modal -->
      <div id="treatments-{{name}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable">

    <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">
              <p>{{info | safe}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>   
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
<div class="col-8">

  <div class="card bg-transparent" style="width: 45rem; margin-bottom: 30px; border-color: transparent;">
    <h1 style=" font-size:20px; font-weight: bold;"> >>> {{user.user_name}}'s Health Profile</h1>
    <div class="card mb-3" style="border-color: transparent;">
      <div class="row g-0">
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-muted">
              <h6> Quick Overview:</h6>
              <h7> Diagnosis </h7>
              {% for name, alt_name, content in diagnosis%}
              <li>{{name}}</li>
              {%endfor%}
              <h7> Treatments</h7>
              {%for name, infor in user_medication%}
              <li>{{name}}</li>
              {%endfor%}
              </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="/static/Images/profile.svg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  
</div>  
  <div class="card" style="width: 45rem; border-color: transparent;">
      <div>
          <h2 style="font-size: 15px; font-weight:bold; text-align: center;">Daily Log</h2>
          <canvas id="logchart"></canvas>
      </div>
      </div>
<div class="symptoms">
  <div class="card bg-transparent" style="width: 45rem; margin-top: 10px;">
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSymptoms" aria-expanded="false" aria-controls="collapseSymptoms">
      Symptoms Logged
    </button>
    <div class="collapse" id="collapseSymptoms">
      <div class="card card-body">
  <table class="table table-hover table-sm caption-top">
    <caption>Logged symptoms:</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Symptom</th>
      </tr>
    </thead>
    <tbody>
      {%for symptom in symptoms%}
      <tr>
        <th scope="row">{{symptom.start}}</th>
        <td>{{symptom.title}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
    </div>
    </div>
</div>

<div class="user-medications">
  <div class="card bg-transparent" style="width: 45rem; margin-top: 10px;">
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTreatments" aria-expanded="false" aria-controls="collapseTreatments">
     Treatments Logged
    </button>
    <div class="collapse" id="collapseTreatments">
      <div class="card card-body">
  <table class="table table-hover table-sm caption-top" style="background-color: transparent;">
    <caption>Administered treatments:</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Treatments</th>
      </tr>
    </thead>
    <tbody>
      {% for drug in administered_drugs %}
      <tr>
        <th scope="row">{{drug.start}}</th>
        <td>{{drug.title}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>

</div>
</div>
<!-- Div for container -->
</div>
</div>
</div> 


{%endblock%}

{% block js %}
  <script src="/static/js/chart.js"></script>
{% endblock %}