{% extends 'base.html' %}
{% include 'navbar.html' %}

{%block title %}{{user.user_name}}'s health profile {% endblock %}

{% block head %}
<!-- JS Code for Charts -->
  {# ChartJS #}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

  {# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

  {# randomColor: generate random colors #}
  <script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %}

{%block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h1>{{user.user_name}}'s health profile</h1>

      <p>See your progress below. </p>
    </div>


    <div class="col-9">
      <div class="row">
        
      <!-- Cards for Column -->
        <div class="card bg-transparent" style="width: 15rem; border-color: transparent;">
          <img src="/static/Images/DIAGNOSIS.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <p style="font-size: 10px;">click below to learn more about your diagnosis</p>

      <!-- Trigger the modal with a button -->
            {% for element in cancer%}
            <button type="button" class="btn btn-dark btn-md" data-bs-toggle="modal" data-bs-target="#myModal">{{element.cancer}}</button>

      <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-scrollable">

      <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{element.cancer}}</h4>
                  </div>
                  <div class="modal-body">
                    <p>{{content[0]|safe}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>


  
  <div class="card bg-transparent" style="width: 15rem; border-color: transparent;">
    <img src="/static/Images/Treatment.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p style="font-size: 10px;">click below to learn more about your treatment</p>
  <!-- Trigger modal with a button -->
      {% for name, info in user_medication%}
      <button type="button" class="btn btn-dark btn-md" data-bs-toggle="modal" data-bs-target="#treatments-{{name}}">{{name}}</button>

<!-- Modal -->
      <div id="treatments-{{name}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable">

    <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">
              <p>{{info | safe}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>   
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
<div class="symptoms">
  <div class="card bg-transparent" style="width: 35rem;">
  <table class="table table-hover table-sm caption-top">
    <caption>Logged symptoms:</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Symptom</th>
      </tr>
    </thead>
    <tbody>
      {%for symptom in symptoms%}
      <tr>
        <th scope="row">{{symptom.start}}</th>
        <td>{{symptom.title}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
    
</div>

<div class="user-medications">
  <div class="card bg-transparent" style="width: 35rem;">
  <table class="table table-hover table-sm caption-top">
    <caption>Administered treatments:</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Treatments</th>
      </tr>
    </thead>
    <tbody>
      {% for drug in administered_drugs %}
      <tr>
        <th scope="row">{{drug.start}}</th>
        <td>{{drug.title}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>
<div class="card bg-transparent" style="width: 35rem;">
<div>
    <h2>Daily Progression</h2>
    <canvas id="logchart"></canvas>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
{%endblock%}

{% block js %}
  <script src="/static/js/chart.js"></script>
{% endblock %}