{% extends 'base.html'%}

{%block title %}Hello, {{user.user_name}}{% endblock %}

{%block body%}
<h1>These are your logged symptoms so far, {{user.user_name}}</h1>


<div id="daily questionaire" class="daily">
    <div class="symptoms"><p>This is where the calendar goes</p>
    </div>
    <div class="medications">
        <h2>current medications:</h2>
        <p>{%for medication in medications%}
        <li>{{medication.drug_name}}</li>
        {%endfor%}</p>
    </div>
</div> </div>
{%endblock%}