{% extends 'base.html' %}

{%block title%}Welcome to Onco Buddy {{user.user_name}} {%endblock%}

{% block body %}
<h1>Welcome to Onco Buddy {{user.user_name}}</h1>
<h2>Intake form for first-time users:</h2>
<div class="user-information">
<p>Please fill out the following information to get started:
    <form action="/intake">
        <label for="cancer-type">Cancer Type:</label>
        <input type="search" name="cancer-type" id="cancer-type">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <label for="sex">Sex</label>
        <input type="radio" name="sex" id="sex" value="Female">Female
        <input type="radio" name="sex" id="sex" value="Male">Male     
    </form>
</p>
</div>
<a href="/profile">Go to profile</a>
{% endblock %}