{% extends 'base.html' %}

{%block title%}Welcome to Onco Buddy {{user.user_name}} {%endblock%}

{% block body %}
<h1>Welcome to Onco Buddy {{user.user_name}}</h1>
<h2>Intake form for first-time users:</h2>
<div class="user-information">
<p>Please fill out the following information to get started:
    <form action="/intake">
        <label for="cancer-type">Cancer Type:</label>
        <select id="cancer-type" name="cancer-type">
            {%for cancer in cancer_types%}
            <option value="{{cancer.common_name}}">{{cancer.common_name}}</option>
            {%endfor%}
        </select>
        <label for="conditions">Other conditions:</label>
        <input type="search" name="conditions" id="conditions">   
    </form>
</p>
</div>
<div class="user-medications">
    <h2>Please add current medications and treatments:</h2>
    <form action="/intake" id="user-medications">
        <label for="user-medication">Add current medications</label>
        <input type="text" name="medication" id="medication">
    </form>

</div>
<a href="/profile">Go to profile</a>
{% endblock %}